.section {
    padding: 20px 40px 20px 40px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    margin-top: 5px;
    background: #cee8c8;
    overflow: hidden;
    position: relative;
}

.section input {
    padding: 5px;
}

.section .close {
    position: absolute;
}

.longField {
    width: 100%;
    max-width: 900px;
}

.section fieldset {
    display: block;
    clear: both;
    width: 100%;
}

.section fieldset label {
    display: block;
}

.alreadyCooked {
    clear: both;
    display: block;
}

.alreadyCooked span {
    display: block;
}

.section textarea {
    width: 50%;
    border: 1px solid #000;
    max-width: 500px;
    height: 100px;
}

.addIngredient {
    float: left;
    clear: left;
    margin: 10px 0 10px 0px;
    padding: 5px 15px;
    cursor: pointer;
    align-self: flex-start;
}

.submit {
    float: left;
    clear: left;
    margin: 0 0 14px 2px;
    padding: 5px 15px;
    cursor: pointer;
    align-self: flex-start;
}

.cancel {
    border: none;
    float: left;
    background: none;
    color: #999;
    padding: 5px 15px;
    margin-left: 10px;
    padding-top: 6px;
    cursor: pointer;
}