.section {
    padding: 20px 40px 20px 40px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    margin-top: 5px;
    background: #cee8c8;
    overflow: hidden;
    position: relative;
}

.section input {
    padding: 5px;
}

.section .close {
    position: absolute;
}

.section fieldset {
    display: block;
    clear: both;
    width: 100%;
}

.section fieldset label {
    display: block;
}

.section textarea {
    width: 50%;
    border: 1px solid #000;
    max-width: 500px;
    height: 100px;
}