.lastBlock {
    border-bottom: 1px solid #b2cdab;
    margin-bottom: 50px;
    padding-bottom: 30px;
}

.lastBlock div {
    float: left;
    margin-right: 10px;
}

.composition {
    padding: 10px;
    background: #b2cdab;
}

.composition .ingredients {
    display: flex;
    align-items: center;
}

.tooltipFull {
    visibility: hidden;
    position: absolute;
    background: #fff;
    margin: 5px 0;
    border: 1px solid #555;
    padding: 5px;
    border-radius: 4px;
    opacity: 0;
    top: -40px;
    left: -10px;
    transition: opacity 0.2s;
}

.tooltip-container {
    position: relative;
    cursor: pointer;
}

.tooltip-container:hover .tooltipFull {
    visibility: visible;
    opacity: 1;
}

.ingredients ul {
    width: 900px;
}

/*
.ingredients label {
    display: inline-block;
    padding-right: 5px;
    top: 10px;
}
*/

.ingredients li.infoBase, .ingredients li.total,
.ingredients li.header, .ingredients li.hydratationLine, li.sub-ingredient-item {
    display: flex;
    padding: 5px 0;
}

.ingredients li.sub-ingredients {
    display: flex;
}

.ingredients ul>li.open {
    border-top: 3px solid #000;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
}

.ingredients>ul>li.infoBase:nth-child(odd) {
    background: #fff;
}

.infos-ingredients {
    border-bottom: 3px solid #000;
    border-right: 3px solid #000;
    border-left: 3px solid #000;
    background: #cee8c8;
    padding: 5px 5px 5px 230px;
    display: flex;
    position: relative;
}

.infos-ingredients ul {
    padding: 0;
    margin-top: 20px;
}

.infos-ingredients .infos-ingredients-ul {
    width: 100%;
}

.infos-ingredients .noData li {
    display: flex;
    align-items: flex-start;
    gap: 7px;
    height: 30px;
}

.infos-ingredients .infos-ingredients-ul li:last-child {
    border-top: none;
}

.infos-ingredients .edition {
    background: #b2cdab;
    height: 40px;
    margin-top: 10px;
    padding: 10px 5px;
    border-bottom: 1px solid #cee8c8;
}

.infos-ingredients .noData li svg {
    margin-top: 3px;
}

.infos-ingredients .colorCreate {
    margin-left: 21px;
    margin-bottom: 20px;
}

.infos-ingredients .colorCreate input {
    width: 100px;
    margin: 20px 0;
    cursor: pointer;
}

.infos-ingredients .validation {
    padding: 10px 5px;
    background: #b2cdab;
}

.infos-ingredients .infos-ingredients-ul li {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 30px;
    border-top: 1px solid #bbb;
}

.infos-ingredients .infos-ingredients-ul li:first-child {
    border-top: none;
}

.infos-ingredients-ul .line {
    position: relative;
}

.infos-ingredients-ul .line .trash {
    position: absolute;
    right: 10px;
}

.infos-ingredients .close {
    position: absolute;
    right: 5px;
    cursor: pointer;
    top: 5px;
}

.infos-ingredients .rangeContainer {
    display: flex;
    position: relative;
}

.infos-ingredients .current {
    position: absolute;
    top: 9px;
    left: 3px;
    width: calc(100% - 6px);
    height: 11px;
    background-color: #b5b5b5;
    border-radius: 3px;
    transform: translateY(-50%);
    overflow: hidden;
}

.infos-ingredients .rangeContainer input {
    margin-top: 10px;
    background: #2c69af;
    cursor: pointer;

}

.infos-ingredients .current-bar {
    height: 100%;
    background-color: #000;
    /* Bleu semi-transparent */
}

.infos-ingredients .percents-originals {
    width: 40px;
    text-align: right;
}

.infos-ingredients .infos-ingredients-ul .text-originals {
    width: auto;
    border: none;
    border-bottom: 1px dashed #999;
    padding-bottom: 0;
    background: rgba(250, 250, 250, 0.5);
}

.infos-ingredients .infos-ingredients-ul .number-weight {
    width: 50px;
    padding-right: 5px;
    text-align: right;
}


.infos-ingredients .infos-ingredients-ul .text-originals:focus {
    outline: none;
    background: #b2cdab;
}

.infos-ingredients .infos-ingredients-ul .type-selection {
    height: 40px;
    padding: 0px 5px;
    border-top: 0;
    background: #b2cdab;
}

.infos-ingredients-ul .type-selection .prix {
    padding: 5px;
    width: 80px;
    text-align: right;
}


.infos-ingredients-ul input[type=text] {
    padding: 5px;
}

.infos-ingredients-ul .type-selection .bt {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 30px;
    box-shadow: -1px -1px 1px #555 inset, 1px 1px 1px #fff inset;
    background: #ccc;
}

.infos-ingredients-ul .type-selection .bt.selected {
    box-shadow: none;
    background: #aaa;
    box-shadow: 1px 1px 1px #555 inset, -1px -1px 1px #fff inset;
}

.infos-ingredients .infos-ingredients-ul .title-value {
    border-top: none;
    background: #b2cdab;
    padding: 0 5px;
}

.infos-ingredients-ul .new-propertie {
    border-top: none;
    padding: 5px;
    background: #b2cdab;
}

.infos-ingredients .percents-tweaked {
    width: 55px;
    text-align: left;
}

.toggle-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.infos-ingredients .toggle {
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
    transition: background-color 0.3s;
    margin-right: 10px;
    border: 1px solid #888;
}

.infos-ingredients .toggle::before {
    content: "";
    position: absolute;
    width: 16px;
    box-shadow: 0px 1px 2px #000;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    transition: left 0.3s;
}

.infos-ingredients .toggle.active {
    background-color: #4CAF50;
}

.infos-ingredients .toggle.active::before {
    left: 22px;
}

.ingredients ul li.total {
    border: 1px solid #000;
    background: #eee;
}

.ingredients ul li.hydratationLine {
    border: 1px solid #888;
    background: #fff;
    flex-direction: column;
    margin-left: 0;
}

.ingredients ul li.hydratationLine .base span {
    display: block;
    clear: both;
}


.ingredients ul li.header {
    border-bottom: 1px solid #000;
    background: #cac1ad;
}

.ingredients ul li.addIngredient {
    background: none;
    display: inherit;
    margin-left: 0;
}

.addIngredient button {
    background: #aaa;
    margin: 5px 0;
    border: 1px solid #555;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    float: left;
}

.ingredients ul li.infoBase>*,
.ingredients ul li.header>*,
.ingredients ul li.total>*,
.ingredients ul li.hydratationLine {
    flex: 1;
    align-self: flex-start;
    padding: 0 5px;
    margin: 0;
}

.ingredients ul li.hydratationLine>.expanded {
    flex: 2;
    width: 100%;
    clear: both;
    align-self: center;
}


.ingredients ul li.hydratationLine .recharts-responsive-container {
    height: 300px;
    overflow: hidden;
}

.ingredients li .supprimer {
    border: none;
    float: right;
    opacity: 0.5;
    cursor: pointer;
}

.ingredients li .supprimer:hover,
.ingredients li .supprimer:focus {
    opacity: 1;
}

.ingredients .hydratation {
    margin-left: 5px;
    color: #2c69af;
}

.ingredients .poolish {
    padding-top: 10px;
    margin-left: 40px;
    display: flex;
    vertical-align: middle;
}


.deployable {
    cursor: pointer;
}

.ingredients>ul>li.sub-ingredients {
    background: #f0f0f0;
    border: 2px solid #cac1ad;
}

.ingredients>ul>li.sub-ingredients ul {
    padding-left: 0;
}

li.access-recipe {
    padding: 10px;
    background: #ddd;
}

.sub-ingredients li>* {
    flex: 1;
    align-self: flex-start;
    padding: 0 5px;
    margin: 0;
}

.ingredient-label svg {
    margin-left: 6px;
    top: 2px;
    position: relative;
}

.sub-ingredient-item .lienRecette {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border-bottom: 1px dotted #666;
}

.lienRecette svg {
    margin-left: 0;
}

.sub-ingredients .subrecipe {
    color: #aaa;
}

@media screen and (max-width: 900px) {
    .ingredients {
        width: auto;
    }

    .ingredients ul {
        padding: 0;
        width: 100%;
    }
}