.existing {
  border-bottom: 1px solid #000;
}

.recipes {
  margin: 0;
  padding: 0;
  padding: 5px;
  display: inline-block;
}

.moreinfos {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  display: block;
  background: white;
  border: 1px solid #ccc;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px;
  transition: opacity 0.3s;
  z-index: 10;
  max-width: 300px;
  white-space: normal;
  color: #000;
  font-size: 12px;
}

.moreinfos span {
  display: block;
}

.recipe:hover .moreinfos {
  opacity: 1;
  visibility: visible;
}

.recipes li.recipe {
  position: relative;
  cursor: pointer;
  list-style: none;
  font-size: 18px;
  float: left;
  padding: 5px;
  border: 1px solid #000;
  margin: 3px 3px;
}

.recipe .trash {
  margin-left: 5px;
  /* vertical-align:middle; */
}

.recipe.active {
  background: #000;
  color: #fff;
}

li.recipe:hover {
  background: #888;
  color: #fff;
}

.recipes li.recipe.active,
.recipes .active:hover .recipe {
  background: #000;
}


.existing menu {
  /* display: block; */
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.existing menu .bt {
  margin-left: 10px;
}

.existing menu .bt:last-child {
  margin-left: auto;
}

.existingrecipes .formAddPrd {
  position: relative;
  display: flex;
  flex-direction: column;
}

.existingrecipes .composition {
  background: #d8d8d8;
  border: #aaa;
  padding: 10px;
  margin-right: 40px;
  margin-bottom: 10px;
}

.toggle label {
  text-decoration: underline;
  cursor: pointer;
}

.composition .nombre {
  margin-right: 10px;
}

.composition .ingredients input {
  margin: 5px 2px 5px 0;
}

.composition .ingredients .inputSelect {
  margin-left: 0;
}